@import "../../assets/styles/index.scss";

.header {
  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__topbar {
    display: flex;
    gap: 30px;
    margin: 15px 20px 20px 20px;

    @include onTablet {
      margin: 23px 27px 30px 27px;
    }

    @include onDesktop {
      margin: 40px 50px 81px 50px;
    }

    @include onBigScreen {
      margin: 40px 130px 70px 130px;
    }
  }

  &__main {
    margin-bottom: 100px;

    @include onTablet {
      margin: 30px 27px 130px 27px;
    }

    @include onDesktop {
      display: flex;
      gap: 20px;
      margin-bottom: 200px;
    }
  }

  &__photo {
    order: 2;
  }

  &__img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    margin-bottom: 25px;

    //@include hover(transform, scale($scale));

    @include onTablet {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 20px 100px 20px;

    @include onTablet {
      margin-bottom: 50px 124px 130px 124px;
    }

    @include onDesktop {
      display: block;
      margin: 81px 20px 53px 100px;
    }

    @include onBigScreen {
      display: block;
      margin: 70px 20px 53px 100px;
    }
  }

  &__title {
    @extend %h4;
    margin-bottom: 10px;
    text-align: center;
    line-height: 130%;
    letter-spacing: 0;

    @include onTablet {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 36px;
      line-height: 150%;
      letter-spacing: 0;
      color: #333333;
      text-transform: capitalize;
    }

    @include onDesktop {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 60px;
      line-height: 130%;
      letter-spacing: 0;
      color: #333333;
      max-width: 480px;
      text-align: left;
    }
  }

  &__text {
    @extend %text;
    display: inline-block;
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__button {
    @extend %button;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 280px;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    background: $c-dark;
    color: $c-cloudWhite;
    text-decoration: none;
    border: 1px solid $c-dark;
    transition: $duration;

    &:hover {
      color: $c-dark;
      background: $c-warmGray;
      cursor: pointer;
    }
  }
}

.icon {
  &__menu {
    order: 1;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../../assets/icons/Menu.png) no-repeat center;

    @include onDesktop {
      display: none;
    }
  }

  &__card {
    order: 2;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../../assets/icons/shop.png) no-repeat center;

    // @include hover(transform, scale(1.2));

    @include onDesktop {
      width: 32px;
      height: 32px;
    }
  }
}

.logo {
  display: flex;
  width: 24px;
  height: 24px;
  order: 1;

  //@include hover(transform, scale($scale));

  &__link {
    text-decoration: none;
  }

  &__text {
    @extend %text_2;
    display: none;
    color: $c-darkGreen;
    text-transform: uppercase;

    @include onDesktop {
      display: flex;
      justify-content: start;
      align-items: center;
      min-width: 208px;
    }
  }
}

.navbar {
  display: none;

  @include onDesktop {
    display: flex;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: $c-dark;
  }

  &__link {
    position: relative;
    color: $c-dark;
    text-decoration: none;
    // @include lineHover;
  }
}

.icon-cart {
  order: 2;

  &__link {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../../assets/icons/shop.png) no-repeat center;

    //@include hover(transform, scale(1.2));

    @include onDesktop {
      width: 32px;
      height: 32px;
    }
  }
}